
body{
  padding: 50px;
  line-height: 30px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 64px;
  text-align: center;
}
h2{
  font-size: 30px;
}
img{
  display:block;
  margin:0 auto;
}
